In [1]:
import numpy as np

In [6]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\Rishi Raj'

In [4]:
cd J:\QSTP ML\Data Visualization - 01

J:\QSTP ML\Data Visualization - 01

In [9]:
airports=pd.read_csv("airports.dat")

In [11]:
airports.columns = ["id", "name", "city", "country", "code", "icao", "latitude", "longitude", "altitude", "offset", "dst", "timezone","proxy1","proxy2"]

In [12]:
airports.head()

,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone,proxy1,proxy2
0,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
1,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
2,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
3,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
4,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10,U,Pacific/Port_Moresby,airport,OurAirports

In [14]:
airlines = pd.read_csv("airlines.dat", header=None, dtype=str)
airlines.columns = ["id", "name", "alias", "iata", "icao", "callsign", "country", "active"]
routes = pd.read_csv("routes.dat", header=None, dtype=str)
routes.columns = ["airline", "airline_id", "source", "source_id", "dest", "dest_id", "codeshare", "stops", "equipment"]

In [15]:
routes = routes[routes["airline_id"] != "\\N"]

In [16]:
import math
def haversine(lon1, lat1, lon2, lat2):
    # Convert coordinates to floats.
    lon1, lat1, lon2, lat2 = [float(lon1), float(lat1), float(lon2), float(lat2)]
    # Convert to radians from degrees.
    lon1, lat1, lon2, lat2 = map(math.radians, [lon1, lat1, lon2, lat2])
    # Compute distance.
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a)) 
    km = 6367 * c
    return km

In [29]:
def calc_dist(row):
    dist = 0
    try:
        # Match source and destination to get coordinates.
        source = airports[airports["id"] == int(row["source_id"])].iloc[0]
        dest = airports[airports["id"] == int(row["dest_id"])].iloc[0]
        # Use coordinates to compute distance.
        dist = haversine(dest["longitude"], dest["latitude"], source["longitude"], source["latitude"])
    except (ValueError, IndexError):
        pass
    return dist

In [26]:
route_lengths = routes.apply(calc_dist, axis=1)

C:\Anaconda3\lib\site-packages\pandas\core\ops.py:716: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: ('invalid type comparison', 'occurred at index 0')

In [19]:
import matplotlib.pyplot as plt
plt.hist(route_lengths, bins=20)
plt.show()

NameError: name 'route_lengths' is not defined

In [20]:
route_lengths = routes.apply(calc_dist, axis=1)

C:\Anaconda3\lib\site-packages\pandas\core\ops.py:716: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: ('invalid type comparison', 'occurred at index 0')

In [21]:
routes.head()

  airline airline_id source source_id dest dest_id codeshare stops equipment
0      2B        410    AER      2965  KZN    2990       NaN     0       CR2
1      2B        410    ASF      2966  KZN    2990       NaN     0       CR2
2      2B        410    ASF      2966  MRV    2962       NaN     0       CR2
3      2B        410    CEK      2968  KZN    2990       NaN     0       CR2
4      2B        410    CEK      2968  OVB    4078       NaN     0       CR2

In [22]:
routes.describe()

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
count,67184,67184,67184,67184,67184,67184,14589,67184,67168
unique,547,547,3325,3237,3334,3243,1,2,3918
top,FR,4296,ATL,3682,ATL,3682,Y,0,320
freq,2484,2484,915,915,911,911,14589,67173,9180

In [23]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67184 entries, 0 to 67662
Data columns (total 9 columns):
airline       67184 non-null object
airline_id    67184 non-null object
source        67184 non-null object
source_id     67184 non-null object
dest          67184 non-null object
dest_id       67184 non-null object
codeshare     14589 non-null object
stops         67184 non-null object
equipment     67168 non-null object
dtypes: object(9)
memory usage: 5.1+ MB

In [24]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7183 entries, 0 to 7182
Data columns (total 14 columns):
id           7183 non-null int64
name         7183 non-null object
city         7139 non-null object
country      7183 non-null object
code         7181 non-null object
icao         7183 non-null object
latitude     7183 non-null float64
longitude    7183 non-null float64
altitude     7183 non-null int64
offset       7183 non-null object
dst          7183 non-null object
timezone     7183 non-null object
proxy1       7183 non-null object
proxy2       7183 non-null object
dtypes: float64(2), int64(2), object(10)
memory usage: 785.7+ KB

In [ ]:
route_lengths = routes.apply(calc_dist, axis=1)